.board {
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 0 30px 30px 30px;
  .board-row {
    display: flex;
    gap: 2px;
    padding-bottom: 2px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  .game-status {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .reset-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border: 2px solid #7b7b7b;
    background-color: #c0c0c0;
    color: black;
    cursor: pointer;
  }
}

.message {
  font-size: 80px;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.you-won {
  color: green;
  &::before {
    content: 'You won!';
    position: absolute;
    top: 0;
    left: 0;
    color: blue;
    z-index: -1;
    transform: translate(15px, 15px);
  }
}

.you-lost {
  color: red;
  &::before {
    content: 'You lost!';
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    z-index: -1;
    transform: translate(15px, 15px);
  }
}
