header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.tittle {
  font-size: 80px;
  color: #b89441;
  font-weight: 900;
  text-transform: uppercase;
  transform: rotate(-4deg);
  padding: 25px;
}
